.principalHeader{
    height: 60px;
    background-color: white;
    color: rgb(27, 27, 112); 
}

.principalHeader-nav{
    width: 60%;
    margin: 0 20% 0 20%;
}

.principalHeader-list{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: inherit;
}

.principalHeader-list * {
    margin-right: 5%;
    height: inherit;
}
.principalHeader-list :last-child{
    margin-right: 0;
}
/*---------------- menu-----------------------------  */
.principalHeader-menu{
    position: relative;
}
.principalHeader-menu .menu-header{
    display: flex;
    align-items: center;
}

.principalHeader-menu .menu-header .menu-img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.dropdown-content{
    display: none;
    width: 200px;
    height: auto;
    position: absolute;
    background-color: skyblue;
    overflow: auto;
    z-index: 1;
}

.dropdown-content th{
    font-weight: bold;
    padding: 1em;
}
.dropdown-content td{
    padding: .2em;
}
.show{
    display: block;
}

/* --------------------------------------------------- */
.principalHeader-logo img{
    width: 50px;
    height: 35px;
}

.principalHeader-search{
    flex-grow: 2;  
    padding-left: 6%;
}

.form-search{
    display: flex;
    align-items: center;
}

.form-search input{
    background-color: #ccc;
    width: 100%;
    padding: 5px;
    margin: 0;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-right-width: 0;
}

.principalHeader-search .search-submit{
    background-color: deepskyblue;
    background-size: 100%;
    box-sizing: border-box;
    padding: 10px;
    width: 40px;
    height: 40px;
}

.principalHeader-car img{
    width: 50px;
}

@media only screen and (max-width: 768px) {
    .principalHeader-search{
        display: none;
    }
}

